/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  /* Styles for header section */
  .header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    margin-bottom: 10px;
  }
  
  .header p {
    margin-top: 0;
  }
  
  /* Styles for summary section */
  .summary {
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .summary h2 {
    margin-bottom: 10px;
  }
  
  .summary p {
    margin-top: 0;
  }
  
  /* Styles for skills section */
  .skills {
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .skillsheader {
    background-color: #f2f2f2;
  }

  .skills h2 {
    margin-bottom: 10px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
  }
  
  .skills li {
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  /* Styles for work and leadership experience section */
  .work {
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .work h2 {
    margin-bottom: 10px;
  }
  
  .work .work-item {
    margin-bottom: 30px;
  }
  
  .work-item h3 {
    margin-bottom: 10px;
    font-family: bold;
  }
  
  .work-item p {
    margin-top: 0;
  }
  
  /* Styles for education and certifications section */
  .education {
    background-color: #f2f2f2;
  }

  .education h2 {
    margin-bottom: 10px;
  }
  
  .education p {
    margin-top: 0;
  }
  
  /* Styles for interests and hobbies section */
  .interests {
    padding: 20px;
  }
  
  .interests h2 {
    margin-bottom: 10px;
  }
  
  .interests ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .interests li {
    margin-bottom: 10px;
  }
  
  /* Media queries */
  @media (max-width: 767px) {
    .skills li {
      width: 100%;
    }
    
    .interests li {
      width: 100%;
    }
  }
  