
  /* The element to apply the animation to */

  .cloud {
    animation-name: animate;
    animation-duration: 90s;
    height: 3.5vw;
    width: 10vw;
    background: rgb(255, 251, 251);
    border-radius: 40vw;
    border: 3px solid rgb(236, 234, 234);
    position: absolute;
    margin-top: 3vw;
  }
  
.cloud:before {
        content: "";
        position: absolute;
        top: -1vw;
        box-sizing: border-box;
        height: 2.5vw;
        width: 2.5vw;
        left: 1vw;
        border-radius: 50%;
        border: 3px solid rgba(255, 249, 249, 0.954);
        background: rgb(255, 251, 251);
        transform: rotate(40deg);
  }
 .cloud:after {
    content: "";
    position: absolute;
    height: 5vw;
    width: 5vw;
    top: -2.5vw;
    left: 3vw;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgb(236, 234, 234);
    border-bottom-color: transparent;
    background: rgb(255, 251, 251);
    border-right-color: transparent;
    transform: rotate(55deg);
  }
  
  .cloud2:before {
    content: "";
    position: absolute;
    top: -1vw;
    box-sizing: border-box;
    height: 2.5vw;
    width: 2.5vw;
    left: 1vw;
    border-radius: 50%;
    border: 3px solid rgba(255, 249, 249, 0.954);
    background: rgb(255, 251, 251);
    transform: rotate(40deg);
}

.cloud2 {
    animation-name: animate2;
    animation-duration: 60s;
    height: 3.5vw;
    width: 10vw;
    background: rgb(255, 251, 251);
    border-radius: 40vw;
    border: 2px solid rgb(236, 234, 234);
    position: absolute;
    margin-top: 10vw;
  }
  .cloud2:after {
    content: "";
    position: absolute;
    height: 5vw;
    width: 5vw;
    top: -2.5vw;
    left: 3vw;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid rgb(236, 234, 234);
    border-bottom-color: transparent;
    background: rgb(255, 251, 251);
    border-right-color: transparent;
    transform: rotate(55deg);
  }

  @keyframes animate {
    from {transform: translateX(220%);}
    to {transform: translateX(1000%);}
  }

  
  @keyframes animate2 {
    from {transform: translateX(400%);}
    to {transform: translateX(1000%);}
  }

  .homeanimation {
  background-color: #EAF4F4;
  }

  body {
    background-color:green;
}

  .profile-photo {
    border: solid 1px #EAF4F4;
    margin: 10px;
    width:8vh;
    border-radius: 50%;
    content: url(../images/headshot.jpg);
    transition: transform .4s;

  }
  
  .profile-photo:hover {
    transform: scale(1.2); 
  }

  .nav-item {
    transition: transform .4s;
  }
  .nav-item:hover {
    transform: scale(1.2); 
  }
  

  .custom-navbar .navbar-collapse {
    background-color: transparent;
    display: flex;
    justify-content: end;
    text-align: center;
    margin-right: 10px;
  }s

  .main-container {
    min-height: calc(100vh - 80px); /* 80px is the height of the navbar */
    display: flex;
    flex-direction: column;
  }
  
  /* footer {
  background-color:black;
  height: 20vh;
  color: white;
  } */